body {
    font-family: 'Alegreya', cursive;
}
.heading {
    font-size: 30px;
    width: 100%;
    box-shadow: -1px 6px 3px 3px plum;
    margin-top: -1px;
}
.heading_div {
    float: none;
    background-color:plum;
    padding: 10px;
    border: 2px solid black;
    color: black;
    border-radius: 30px;
    font-size: 20px;
}
.heading_div2 {
    font-size: 20px;
    float: none;
    color: black;
}